.not-front .l-main .content section.gallerySpotlightNoText img{
	float: none;
	width: 100%;
	max-width: 100%;
}

.not-front .l-main .content section.gallerySpotlightNoText .owl-item .views-row img{
	padding: 0px;
	margin: 0px;
}
.not-front .l-main .content section.gallerySpotlightNoText .owl-item{
	padding: 5px;

}
@media screen and (min-width: 500px) {
	.twoColumn {
	  -webkit-columns: 2; /* Chrome, Safari, Opera */
	  -moz-columns: 2; /* Firefox */
	  columns: 2;
		-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
	}
}

.twoColumn p{
	margin-top: 0px;
	padding-top: 0px;
}
