/* styles stuff within the WYSIWYG view, as you are using it. Use this to add things like dashed lines/etc to help users know what is happening.*/

/* lets add some styles to define the two column layout as you view it in the WYSIWYG */
div.twoColumn {
  padding:10px;
  border: dashed 1px #555;
  -webkit-columns: 2; /* Chrome, Safari, Opera */
    -moz-columns: 2; /* Firefox */
    columns: 2;
}
